{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "no-console": 1,
    "no-extra-semi": 1,
    "no-unreachable": 1,
    "array-bracket-spacing": 1,
    "semi": ["error", "always"],
    "indent": ["error"]
  }
}
